@font-face {
	font-family: "grunge5";
	src: url('./resource/Grunge.ttf');
}

.body {
	background-color: #ffffff;
	margin: 0 0 0 0;
	overflow: hidden;
}

#topmargin {
	max-height: 20px;
	width: 100%;
	height: 5%;
	padding-top: 30px;
	background-color: #f0b048;
}

.words {
	margin-top: 25px;
	font-family: "grunge5", Georgia;
	font-size: 30px;
	text-align: center;
}

#hangar {
	font-size: 72px;
	color: #f0b048;
	position: absolute;
	width: 100%;
	top: 20%;
	z-index: 1;
}

#menu {
	position: absolute;
	top: 10%;
	right: 80%;
	max-width: 300px;
	max-height: 50px;
	width: 20%;
    height: 10%;
}

#cart {
	position: absolute;
	top: 10%;
	left: 80%;
	max-width: 300px;
	max-height: 50px;
	width: 20%;
    height: 10%;
}

#arrow_left {
	position: absolute;
	top: 55%;
	right: 87%;
	width: 80px;
    height: 40px;
	transform: rotate(180deg);
	z-index: 1;
}
#arrow_right {
	position: absolute;
	top: 55%;
	left: 87%;
	width: 80px;
    height: 40px;
	transform: rotate(10deg);
	z-index: 1;
}
#beer {
	position: absolute;
	top: 40%;
	left: -20%;
	width: 140%;
    height: 140%;
}